.counters__wrapper {
    display: flex;
    color: #FFF;
}

.counter {
    background-color: #DB2C1D;
    width: 33%;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
        background-color: #272727;
    }
} 

.counter__title {    
    font-size: 60px;
    font-weight: 700;
    line-height: 140%;
}

@media(max-width:840px) {
    .counters__wrapper {
        flex-direction: column;
    }

    .counter {
        width: 100%;
    }
}