@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2'); 
    font-style: normal;
    font-weight: 400;
}@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-SemiBold.woff2'); 
    font-style: normal;
    font-weight: 600;
}@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Bold.woff2'); 
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-BoldItalic.woff2'); 
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Black.woff2'); 
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: '_Inter';
    src: url('../fonts/Inter-Regular.woff2'); 
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: '_Roboto';
    src: url('../fonts/Roboto-Regular.woff2'); 
    font-style: normal;
    font-weight: 400;
}