<section class="about" style="background-image: url('images/about-bg.webp')">
    <div class="container">
        <h2 class="section__title">О нас</h2>
        <div class="about__inner">
            <img src="images/about.webp" alt="" class="about__img">
            <h3 class="about__title">Ваше спокойствие и в завтрашнем дне - наша задача</h3>
            <p>За многолетнюю историю работы нашего предприятия накоплен уникальный опыт, позволяющий находить индивидуальный подход к каждому заказчику, обеспечивать исключительную надежность охранных услуг в самых сложных условиях.</p>
            <p>Профессионализм, самоотдача и верность своему делу – то, чем мы руководствуемся в работе.Охранники ООО «ЧОП «Новолипецкий» в основном бывшие сотрудники спецподразделений МВД, ФСБ, Вооруженных сил, прошедшие специальную подготовку, в том числе на право обращения с оружием и специальными средствами.</p>
            <p>ООО «ЧОП «Новолипецкий» уделяет внимание техническому оснащению в работе дежурных смен, группы быстрого реагирования. Это приборы ночного видения, движимое видеонаблюдение, система контроля доступа с фиксацией и распознаванием, ограничением персонала в определенные помещения Заказчика с учетом рабочего времени и, конечно, неоценимые помощники - беспилотные летательные аппараты, управляемые операторами нашей организации.</p>
        </div>
    </div>
</section>
<div class="about-description">
    <div class="container">
        <div class="about-description__values">
            <div class="video__wrapper">
                <img src="images/video.webp" alt="">
                <h3 class="watch-video">Смотреть видео о нас</h3>
            </div>
            <div class="about-description__values-text">
                <h3 class="about-description__title">Наши ценности транслируются легко!</h3>
                <p>ООО «ЧОП «Новолипецкий» работает на российском рынке 15 лет и является одним из крупнейших ЧОП в регионе (штат более 500 работников). Предприятию выдан сертификат доверия работодателю, который удостоверяет, что предприятие внесено в Реестр работодатели Липецкой области, гарантированно соблюдающих трудовые права работников.  Сертификат подтверждает, что мы обеспечиваем государственные гарантии трудовых прав и свобод граждан, а также создаем благоприятные условия труда, в том числе, определяющие требованиям безопасности и гигиены. На предприятии заключен коллективный договор, регулирующий социально-трудовые отношения</p>
            </div>
        </div>

        <div class="about-description__article">
            <img src="images/article1.webp" alt="">
            <div class="about-description__article-text">
                <h3 class="about-description__title">Наш транспорт</h3>
                <p>В ООО «ЧОП «Новолипецкий» по состоянию на 15.08.2023г. имеется на балансе 13 автотранспортных средств, в том числе 8 автотранспортных средств высокой проходимостью. </p>
            </div>
        </div>
        <div class="about-description__article">
            <img src="images/article2.webp" alt="">
            <div class="about-description__article-text">
                <h3 class="about-description__title">Комплектация (вооружение)</h3>
                <p>В распоряжении ЧОП имеется комната хранения оружия, в котором находится 40 единиц оружия,  имеются специальные средства, а именно наручники, дубинки, бронежилеты, дополнительно с учетом нынешних реалий имеется пять антидроновых ружей, которые находятся в служебных автомобилях используемых сотрудниками ГБР при патрулировании охраняемых объектов.</p>
            </div>
        </div>
    </div>
</div>