<section class="clients" style="background-image: url('images/clients-bg.png');">
    <div class="container">
        <h2 class="section__title">Наши клиенты</h2>
        <h3 class="section__subtitle">Основным Заказчиком ООО «ЧОП «Новолипецкий» является <b>ПАО НЛМК</b></h3>
        <div class="client-main">
            <div class="client-main__img-wrapper">
                <img src="images/nlmk.webp" alt="ПАО НЛМК">
            </div>            
            <p><b>ПАО НЛМК</b>  -  лидирующий международный производитель <br> высококачественной стальной продукции</p>
        </div>
        <h3 class="section__subtitle">Также нашими заказчиками являются:</h3>
        <div class="clients__wrapper">
            <div class="client"><p><span>ООО </span>«А2 Сервис»</p></div>
            <div class="client"><p><span>ООО </span>«Румелко»</p></div>
            <div class="client"><p><span>ООО </span>«СМТ НЛМК»</p></div>
            <div class="client"><p><span>АНФОО </span>«Спортивный Металлург»</p></div>
            <div class="client"><p><span>АО </span>«Восток –Сервис-Спецкомплект»</p></div>
            <div class="client"><p><span>ООО </span>«ЭР Ликид Липецк»</p></div>
            <div class="client"><p><span>АО </span>«БМХ РУС»</p></div>
            <div class="client"><p><span>АО</span>« АЙ ЭЙЧ ПИ АППЛАЕНСЕС»</p></div>
        </div>
    </div>
</section>