<form class="contacts__form" id="contacts__form">
    <div class="input-wrapper">
        <label for="contacts__name" class="main-contacts__label">Ваше имя</label>
        <input type="text" name="name" id="contacts__name" class="main-contacts__input">
    </div>
    <div class="input-wrapper">
        <label for="contacts__phone" class="main-contacts__label">Ваш телефон</label>
        <input type="tel" name="phone" id="contacts__phone" class="main-contacts__input">
    </div>
    <div class="input-wrapper main-contacts__textarea">
        <label for="contacts__message" class="main-contacts__label">Ваше сообщение</label>
        <textarea name="message" id="contacts__message"
            class="main-contacts__input textarea"></textarea>
    </div>

    <div class="rules-agree">
        <input type="checkbox" name="checkbox" id="contacts__checkbox" class="main-contacts__checkbox"
            checked>
        <label for="contacts__checkbox" class="main-contacts__checkbox-label">Нажимая на кнопку Вы
            даете согласие на обрабтку <a href="#!"> Персональных данных</a> </label>
    </div>

    <button class="btn">Отправить</button>
</form>