<section class="counters">
    <div class="container">
        <h2 class="section__title">Мы в цифрах</h2>
        <div class="counters__wrapper">
            <div class="counter">
                <h3 class="counter__title">2008</h3>
                <p>С 2008 года <br>на рынке</p>
            </div>
            <div class="counter">
                <h3 class="counter__title">300</h3>
                <p>Более 300 <br>охраняемых объектов</p>
            </div>
            <div class="counter">
                <h3 class="counter__title">24/7</h3>
                <p>На связи экипажи ГБР</p>
            </div>
        </div>
    </div>
</section>