<section class="documents">
    <div class="container">
        <h2 class="section__title">Документы</h2>
        <div class="documents__letters">
            <figure class="documents__letter">
                <img src="images/letter1.png" alt="">
                <figcaption>Благодарственное письмо</figcaption>
            </figure>
            <figure class="documents__letter">
                <img src="images/letter2.png" alt="">
                <figcaption>Благодарственное письмо</figcaption>
            </figure>
            <figure class="documents__letter">
                <img src="images/letter3.png" alt="">
                <figcaption>Благодарственное письмо</figcaption>
            </figure>
            <figure class="documents__letter">
                <img src="images/letter4.png" alt="">
                <figcaption>Благодарственное письмо</figcaption>
            </figure>
        </div>
        <div class="documents__sertificats-wrapper">
            <figure class="documents__sertificat">
                <img src="images/sertificat.png" alt="">
                <figcaption>Сертификат доверия работодателю</figcaption>
            </figure>
            <div class="documents__sertificats">
                <a href="#!" class="documents__link">Политика обработки персональных данных</a>
                <a href="#!" class="documents__link">Дополнительные документы</a>
                <a href="#!" class="documents__link">Документация системы управления охраной труда</a>
                <a href="#!" class="documents__link">Дополнительные документы</a>
                <a href="#!" class="documents__link">Политика обработки персональных данных</a>
                <a href="#!" class="documents__link">Дополнительные документы</a>
                <a href="#!" class="documents__link">Документация системы управления охраной труда</a>
                <a href="#!" class="documents__link">Дополнительные документы</a>
                
            </div>

        </div>

    </div>    
</section>