<section class="introduction">
    <div class="container">
        <h2 class="section__title">Вступительное слово</h2>
        <div class="introduction__inner">
            <figure class="introduction__photo">
                <img src="images/empty.webp" alt="">
                <figcaption class="introduction__photo-description">
                    Орлов Андрей Владимирович <br>
                    <span>Директор ООО ЧОП “Новолипецкий”</span>
                </figcaption>
            </figure>

            <div class="introduction__text">
                <p>Я рад приветствовать Вас на сайте охранного предприятия ООО «ЧОП «Новолипецкий».</p>
                <p>ООО «ЧОП «Новолипецкий» успешно работает в сфере оказания охранных услуг с 2008 года. Нас отличают надежность и профессионализм. За 15 лет работы мы заслужили свою безупречную репутацию и зарекомендовали себя как партнёра, целью которого является создание максимально эффективной и непрерывно действующей системы безопасности для наших клиентов с учетом особенностей их деятельности.</p>
                <p>Наше охранное предприятие осуществляют частную охранную деятельность по всему спектру охранных услуг, предусмотренных законодательством РФ. Стоит отметить, что мы постоянно осваиваем новые направления, повышаем уровень сервиса и расширяем материально-техническую базу.</p>
                <p>Корпоративная культура и стремление на высоком профессиональном уровне реализовать накопленные опыт и знания в сфере охраны особо важных объектов, позволяют нам создавать эффективные системы защиты имущества предприятий различной сферы деятельности.</p>
                <p>На нашем сайте Вы сможете получить всю необходимую информацию об этих услугах, задать интересующий Вас вопрос по организации и обеспечению охраны, а также получить грамотную профессиональную консультацию ведущих специалистов в сфере безопасности. Ваше спокойствие и уверенность в завтрашнем дне – наша профессия!</p>
            </div>
        </div>
    </div>
</section>