<section class="main-contacts">
    <div class="container">
        <h2 class="section__title">Заказать охрану</h2>
        <h3 class="main-contacts__title">Закажите услуги охраны прямо сейчас</h3>
        <p>Отправьте ваше сообщение и наш менеджер <br> свяжется с вами в ближайшее время</p>

        <form class="main-contacts__form">
            <div class="input-wrapper">
                <label for="main-contacts__name" class="main-contacts__label">Ваше имя</label>
            <input type="text" name="name" id="main-contacts__name" class="main-contacts__input">
            </div>
            <div class="input-wrapper">
                <label for="main-contacts__phone" class="main-contacts__label">Ваш телефон</label>
                <input type="tel" name="phone" id="main-contacts__phone" class="main-contacts__input">
            </div>
            <div class="input-wrapper main-contacts__textarea">
                <label for="main-contacts__message" class="main-contacts__label">Ваше сообщение</label>
                <textarea name="message" id="main-contacts__message" class="main-contacts__input textarea"></textarea>
            </div>

            <div class="rules-agree">
                <input type="checkbox" name="checkbox" id="main-contacts__checkbox" class="main-contacts__checkbox" checked>
                <label for="main-contacts__checkbox" class="main-contacts__checkbox-label">Нажимая на кнопку Вы даете согласие на обрабтку <a href="#!"> Персональных данных</a> </label>
            </div>   
            
            <button class="btn">Отправить</button>
        </form>
    </div>
</section>