<section class="photos">
    <div class="container">
        <h2 class="section__title">Фотогалерея</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide photo"><img src="images/photo1.webp" alt=""></div>
                <div class="swiper-slide photo"><img src="images/photo2.webp" alt=""></div>
                <div class="swiper-slide photo"><img src="images/photo3.webp" alt=""></div>
                <div class="swiper-slide photo"><img src="images/photo1.webp" alt=""></div>
                <div class="swiper-slide photo"><img src="images/photo2.webp" alt=""></div>
                <div class="swiper-slide photo"><img src="images/photo3.webp" alt=""></div>
            </div>            
        </div>
        <div class="swiper-navigation">
            <div class="swiper-prev"><img src="images/arrow.svg" alt=""></div>
            <div class="swiper-next"><img src="images/arrow.svg" alt=""></div>
        </div>
    </div>
</section>