<section class="services">
    <div class="container">
        <h2 class="section__title">Наши услуги</h2>
        <div class="services__inner">
            <div class="service">
                <img src="images/service.webp" alt="">
                <h3 class="service-title">Охрана бизнеса</h3>
            </div>
            
            <div class="service">
                <img src="images/service2.webp" alt="">
                <h3 class="service-title">Охрана массовых мероприятий</h3>
            </div>
            
            <div class="service">
                <img src="images/service3.webp" alt="">
                <h3 class="service-title">Физическая охрана</h3>
            </div>
            
            <div class="service">
                <img src="images/service4.webp" alt="">
                <h3 class="service-title">Видеонаблюдение</h3>
            </div>
        </div>
    </div>
</section>