<section class="vacancies">
    <div class="container">
        <h1 class="section__title">Вакансии</h1>
        <div class="vacancies__inner">
            <div class="vacancy">
                <h3 class="section__subtitle">Водитель-охранник ГНР</h3>
                <div class="vacancy-description">
                    Обязанности: <br>
                    <ul>
                        <li>реагирование на сигнал "Тревога".</li>
                    </ul>
                    Требования: <br>
                    <ul>
                        <li>стаж вождения от 3х лет, права категории В</li>
                        <li>наличие удостоверения частного охранника и медицинских справок.</li>
                        <li></li>
                    </ul>
                        Условия: <br>
                        <ul>
                            <li>оформление по ТК РФ;</li>
                            <li>разъездной характер работы на служебном автомобиле;</li>
                            <li>график работы сменный 2/2 ;</li>
                            <li>заработная плата от 39 000 до 45 000 на руки;</li>
                            <li>предоставляется форменная одежда.</li>
                        </ul>
                </div>                 
            </div>
            <div class="vacancies__inner">
                <div class="vacancy">
                    <h3 class="section__subtitle">Водитель-охранник ГНР</h3>
                    <div class="vacancy-description">
                        Обязанности: <br>
                        <ul>
                            <li>реагирование на сигнал "Тревога".</li>
                        </ul>
                        Требования: <br>
                        <ul>
                            <li>стаж вождения от 3х лет, права категории В</li>
                            <li>наличие удостоверения частного охранника и медицинских справок.</li>
                            <li></li>
                        </ul>
                            Условия: <br>
                            <ul>
                                <li>оформление по ТК РФ;</li>
                                <li>разъездной характер работы на служебном автомобиле;</li>
                                <li>график работы сменный 2/2 ;</li>
                                <li>заработная плата от 39 000 до 45 000 на руки;</li>
                                <li>предоставляется форменная одежда.</li>
                            </ul>
                    </div>                 
                </div>   
                <div class="vacancies__inner">
                    <div class="vacancy">
                        <h3 class="section__subtitle">Водитель-охранник ГНР</h3>
                        <div class="vacancy-description">
                            Обязанности: <br>
                            <ul>
                                <li>реагирование на сигнал "Тревога".</li>
                            </ul>
                            Требования: <br>
                            <ul>
                                <li>стаж вождения от 3х лет, права категории В</li>
                                <li>наличие удостоверения частного охранника и медицинских справок.</li>
                                <li></li>
                            </ul>
                                Условия: <br>
                                <ul>
                                    <li>оформление по ТК РФ;</li>
                                    <li>разъездной характер работы на служебном автомобиле;</li>
                                    <li>график работы сменный 2/2 ;</li>
                                    <li>заработная плата от 39 000 до 45 000 на руки;</li>
                                    <li>предоставляется форменная одежда.</li>
                                </ul>
                        </div>                 
                    </div>   
                    <div class="vacancies__inner">
                        <div class="vacancy">
                            <h3 class="section__subtitle">Водитель-охранник ГНР</h3>
                            <div class="vacancy-description">
                                Обязанности: <br>
                                <ul>
                                    <li>реагирование на сигнал "Тревога".</li>
                                </ul>
                                Требования: <br>
                                <ul>
                                    <li>стаж вождения от 3х лет, права категории В</li>
                                    <li>наличие удостоверения частного охранника и медицинских справок.</li>
                                    <li></li>
                                </ul>
                                    Условия: <br>
                                    <ul>
                                        <li>оформление по ТК РФ;</li>
                                        <li>разъездной характер работы на служебном автомобиле;</li>
                                        <li>график работы сменный 2/2 ;</li>
                                        <li>заработная плата от 39 000 до 45 000 на руки;</li>
                                        <li>предоставляется форменная одежда.</li>
                                    </ul>
                            </div>                 
                        </div>              
            
        </div>
    </div>
</section>